<li id='bag-order-notification' class="notification-group" style="<%= 'display: none;' unless active_order %>" >
  <%= link_to checkout_orders_path do %>
    <%= image_tag 'icon-bag.png', alt: "Tastier bag" %>
  <% end %>
  <div id='bag-order-count' class="notification"><%= active_order ? active_order.order_items.count : '0' %></div>
</li>

<li>
  <% if current_user%>
    <span class="dropdown">
      <a class="btn dropdown-toggle" data-toggle="dropdown" type="button">
        <i class="fa fa-user text-primary" aria-hidden="true"></i>
        <%= current_user.name %>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <% if current_user.has_role? :admin %>
          <li>
            <a data-turbolinks="false" href="<%= admin_root_path %>"><%= t('account.admin_panel') %></a>
          </li>
        <% end %>
        <% if current_user.has_role? :restaurateur %>
          <li>
            <a data-turbolinks="false" href="<%= restaurateurs_path %>"><%= t('account.dashboard') %></a>
          </li>
        <% end %>
        <li>
          <a href="<%= edit_user_registration_path %>"><%= t('account.profile') %></a>
        </li>
        <% if current_user.has_role? :restaurateur %>
          <li>
            <%= link_to t('account.menus'), restaurateur_restaurants_path %>
          </li>
        <% else %>
          <li>
            <a href="<%= orders_path %>"><%= t('order.orders') %></a>
          </li>
        <% end %>
        <li>
          <a href="<%= destroy_user_session_path %>"><%= t('account.logout') %></a>
        </li>
      </ul>
    </span>
  <% else %>
    <a class="login-btn cd-signin" href="#" data-toggle="modal"><%= t('account.login') %></a>
  <% end %>
</li>
